In [95]:
# Libraries
import pandas as pd
import geopandas as gpd
import json

# Joined Data with Shape files

In [5]:
# Read GeoJSON file into a GeoDataFrame
geojson_file = 'joined_data.geojson'
gdf = gpd.read_file(geojson_file)

# Save GeoDataFrame to CSV file
csv_file = 'joined_extract.csv'
gdf.to_csv(csv_file, index=False)

In [52]:
joined_df = pd.read_csv('joined_extract.csv')

In [54]:
# Filter to 2023
joined_df = joined_df[joined_df['Year'] == 2023]

In [91]:
joined_df.head()

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude,Date,Year,Hour,Time Interval,index_right,OBJECTID,L_HOOD,S_HOOD,S_HOOD_ALT_NAMES,Shape__Area,Shape__Length,geometry
1837,2023-029143,41342322863,2023-01-24 12:00:00,01/24/2023 12:30:00 PM,01/31/2023 09:29:59 AM,A,PERSON,ASSAULT OFFENSES,Intimidation,13C,W,D,D1,BELLTOWN,22XX BLOCK OF 1ST AVE,-122.345863,47.612991,01/31/2023,2023,12.0,Afternoon,33,60,Downtown,Belltown,Denny Regrade,9.845865e+06,17836.727154,POINT (-122.3458631 47.61299081)
1838,2023-028981,41340595662,2023-01-31 00:00:00,NaN,01/31/2023 03:22:09 AM,A,PROPERTY,STOLEN PROPERTY OFFENSES,Stolen Property Offenses,280,W,D,D1,BELLTOWN,25XX BLOCK OF WESTERN AVE,-122.350074,47.614308,01/31/2023,2023,0.0,NaN,33,60,Downtown,Belltown,Denny Regrade,9.845865e+06,17836.727154,POINT (-122.350073833 47.61430799)
1839,2023-028981,41340706944,2023-01-31 00:00:00,NaN,01/31/2023 03:22:09 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,D,D1,BELLTOWN,25XX BLOCK OF WESTERN AVE,-122.350074,47.614308,01/31/2023,2023,0.0,NaN,33,60,Downtown,Belltown,Denny Regrade,9.845865e+06,17836.727154,POINT (-122.350073833 47.61430799)
1840,2023-028981,41340438852,2023-01-31 01:33:00,NaN,01/31/2023 03:22:09 AM,A,PROPERTY,BURGLARY/BREAKING&ENTERING,Burglary/Breaking & Entering,220,W,D,D1,BELLTOWN,25XX BLOCK OF WESTERN AVE,-122.350074,47.614308,01/31/2023,2023,1.0,NaN,33,60,Downtown,Belltown,Denny Regrade,9.845865e+06,17836.727154,POINT (-122.350073833 47.61430799)
1841,2023-028605,41318860899,2023-01-27 00:00:00,01/27/2023 05:00:00 PM,01/30/2023 10:31:01 PM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,W,D,D1,BELLTOWN,1ST AVE / CEDAR ST,-122.350616,47.615802,01/30/2023,2023,0.0,NaN,33,60,Downtown,Belltown,Denny Regrade,9.845865e+06,17836.727154,POINT (-122.350615984 47.61580161)

In [94]:
joined_df[['S_HOOD', 'Shape__Area', 'Shape__Length', 'geometry']]

,S_HOOD,Shape__Area,Shape__Length,geometry
1837,Belltown,9.845865e+06,17836.727154,POINT (-122.3458631 47.61299081)
1838,Belltown,9.845865e+06,17836.727154,POINT (-122.350073833 47.61430799)
1839,Belltown,9.845865e+06,17836.727154,POINT (-122.350073833 47.61430799)
1840,Belltown,9.845865e+06,17836.727154,POINT (-122.350073833 47.61430799)
1841,Belltown,9.845865e+06,17836.727154,POINT (-122.350615984 47.61580161)
...,...,...,...,...
141208,Harbor Island,1.783230e+07,24381.296628,POINT (-122.348423777 47.57101267)
141210,Harbor Island,1.783230e+07,24381.296628,POINT (-122.348423777 47.57101267)
141211,Harbor Island,1.783230e+07,24381.296628,POINT (-122.354941788 47.58535607)
141212,Harbor Island,1.783230e+07,24381.296628,POINT (-122.349838694 47.57101238)
141213,Harbor Island,1.783230e+07,24381.296628,POINT (-122.354941788 47.58535607)

In [100]:
s_hoodColumn = joined_df['S_HOOD'].unique()
# joined_df[joined_df['S_HOOD'] == 'Belltown']

for neighborhoods in s_hoodColumn:
    print(neighborhoods + ":",len(joined_df[joined_df['S_HOOD'] == neighborhoods]))


print(len(joined_df['S_HOOD'].unique()))

Belltown: 1763
Yesler Terrace: 855
Minor: 1220
Laurelhurst: 158
Phinney Ridge: 457
Riverview: 219
International District: 1342
Brighton: 654
West Queen Anne: 511
Maple Leaf: 793
Georgetown: 662
Green Lake: 685
Bitter Lake: 1045
Pioneer Square: 1202
Seaview: 233
Stevens: 874
First Hill: 1815
Cedar Park: 538
Wallingford: 1083
Central Business District: 2670
University of Washington: 201
Greenwood: 1348
Ravenna: 929
Broadview: 350
South Lake Union: 1528
High Point: 533
Seward Park: 413
Crown Hill: 248
University District: 2049
Dunlap: 895
Fairmount Park: 596
South Park: 397
Broadway: 3476
Portage Bay: 84
Columbia City: 1427
South Delridge: 676
Roxhill: 880
Pinehurst: 935
North Queen Anne: 491
Fremont: 1201
Highland Park: 541
SODO: 1388
Rainier Beach: 400
North Admiral: 687
Licton Springs: 553
Denny Triangle: 728
Olympic Hills: 635
Arbor Heights: 143
Wedgwood: 290
North Beacon Hill: 1829
Mount Baker: 913
East Queen Anne: 494
Eastlake: 439
Haller Lake: 1323
Westlake: 334
Harrison/Denny-Blaine: 129
Pike-Market: 580
University Heights: 671
Holly Park: 436
Genesee: 664
Ballard: 1161
Sunset Hill: 260
Matthews Beach: 210
Victory Heights: 311
Roosevelt: 1061
Fauntleroy: 201
Lower Queen Anne: 1614
Leschi: 383
West Woodland: 1157
Montlake: 263
Mid-Beacon Hill: 675
Bryant: 337
Alki: 366
Interbay: 395
Sand Point: 278
North Delridge: 526
Industrial District: 483
South Beacon Hill: 272
Briarcliff: 116
Madrona: 288
Windermere: 198
Mann: 403
Meadowbrook: 166
Atlantic: 1491
Southeast Magnolia: 183
Madison Park: 251
Lawton Park: 307
Whittier Heights: 326
Rainier View: 141
Gatewood: 332
Loyal Heights: 272
View Ridge: 228
North Beach/Blue Ridge: 130
Harbor Island: 36
94

# Neighbor Hood Kaggle Data

In [101]:
import json

# Your list of neighborhoods and crime counts
neighborhoods_crime_counts = {
    "Belltown": 1763,
    "Yesler Terrace": 855,
    "Minor": 1220,
    "Laurelhurst": 158,
    "Phinney Ridge": 457,
    "Riverview": 219,
    "International District": 1342,
    "Brighton": 654,
    "West Queen Anne": 511,
    "Maple Leaf": 793,
    "Georgetown": 662,
    "Green Lake": 685,
    "Bitter Lake": 1045,
    "Pioneer Square": 1202,
    "Seaview": 233,
    "Stevens": 874,
    "First Hill": 1815,
    "Cedar Park": 538,
    "Wallingford": 1083,
    "Central Business District": 2670,
    "University of Washington": 201,
    "Greenwood": 1348,
    "Ravenna": 929,
    "Broadview": 350,
    "South Lake Union": 1528,
    "High Point": 533,
    "Seward Park": 413,
    "Crown Hill": 248,
    "University District": 2049,
    "Dunlap": 895,
    "Fairmount Park": 596,
    "South Park": 397,
    "Broadway": 3476,
    "Portage Bay": 84,
    "Columbia City": 1427,
    "South Delridge": 676,
    "Roxhill": 880,
    "Pinehurst": 935,
    "North Queen Anne": 491,
    "Fremont": 1201,
    "Highland Park": 541,
    "SODO": 1388,
    "Rainier Beach": 400,
    "North Admiral": 687,
    "Licton Springs": 553,
    "Denny Triangle": 728,
    "Olympic Hills": 635,
    "Arbor Heights": 143,
    "Wedgwood": 290,
    "North Beacon Hill": 1829,
    "Mount Baker": 913,
    "East Queen Anne": 494,
    "Eastlake": 439,
    "Haller Lake": 1323,
    "Westlake": 334,
    "Harrison/Denny-Blaine": 129,
    "Pike-Market": 580,
    "University Heights": 671,
    "Holly Park": 436,
    "Genesee": 664,
    "Ballard": 1161,
    "Sunset Hill": 260,
    "Matthews Beach": 210,
    "Victory Heights": 311,
    "Roosevelt": 1061,
    "Fauntleroy": 201,
    "Lower Queen Anne": 1614,
    "Leschi": 383,
    "West Woodland": 1157,
    "Montlake": 263,
    "Mid-Beacon Hill": 675,
    "Bryant": 337,
    "Alki": 366,
    "Interbay": 395,
    "Sand Point": 278,
    "North Delridge": 526,
    "Industrial District": 483,
    "South Beacon Hill": 272,
    "Briarcliff": 116,
    "Madrona": 288,
    "Windermere": 198,
    "Mann": 403,
    "Meadowbrook": 166,
    "Atlantic": 1491,
    "Southeast Magnolia": 183,
    "Madison Park": 251,
    "Lawton Park": 307,
    "Whittier Heights": 326,
    "Rainier View": 141,
    "Gatewood": 332,
    "Loyal Heights": 272,
    "View Ridge": 228,
    "North Beach/Blue Ridge": 130,
    "Harbor Island": 36
}

# Path to your JSON file
json_path = 'Neighborhood_Map_Atlas_Neighborhoods.json'

# Read the JSON file
with open(json_path, 'r') as file:
    json_data = json.load(file)

# Update the JSON data with crime count information
for feature in json_data['features']:
    properties = feature['properties']
    neighborhood = properties['S_HOOD']
    
    if neighborhood in neighborhoods_crime_counts:
        properties['CrimeCount'] = neighborhoods_crime_counts[neighborhood]

# Save the updated JSON data
with open('neighbor_data.json', 'w') as file:
    json.dump(json_data, file, indent=2)